.footer-sign{
        background-color: #212121;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 15px 0;
        color: white;
}
.listOfUsed {
    list-style: none;
    text-align: center;
    
} 
.message a {
    list-style: none;
    display: inline-block;
}