/* .exampleCV {
 /* background-color: beige;
 font-size: 20px;
 line-height: normal;
padding: 5px;
} */
.app{
    background-image: url('../icons/A-GOOD-RESUME-IS-THE-KEY-TO-SUCCESS-DURING-JOB-HUNTING.jpg');
    background-repeat: no-repeat;
    background-size:auto; 
    height: 100%;
    word-wrap: break-word; 
}